<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["üye"] - Zamzuma ithalat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BtkAkademi.styles.css" asp-append-version="true" />
</head>
<body>
    
    <header>
        <aside class="sidebar">
  <div id="leftside-navigation" class="nano">
    <ul class="nano-content">
      <li>
        <a classlass="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="girişyapılmışmainÜYE"><span>Home</span></a>
      </li>
        <li>
        <a classlass="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Index"><span>Ürünler</span></a>
        </li>
        <li>
        <a classlass="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Index"><span>Çıkış Yap</span></a>
        </li>
    </ul>
  </div>
</aside>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
