@{
    ViewData["üye"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Zamzuma ithalat</h1>
    <p>
        <a class="btn btn-primary" asp-controller="Course" asp-action="adnan" >Apply</a>
    </p>
    <p>Merhaba Üye</p>
</div>
